@use "config/variables" as var;

.form {
  &__title {
    color: var.$white;
  }

  &__camp {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    margin: 1rem 1rem;
    text-transform: uppercase;
    text-align: left;
    color: var.$white;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
  }
}
