@use "config/variables" as var;
@use "config/mixins" as mix;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;

  @include mix.tablet {
    width: auto;
    flex-direction: row;
  }

  &__footer {
    margin-top: 1.5rem;
    gap: 0.5rem;

    @include mix.tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 700;
    color: var.$black;
    border-bottom: 0.5rem solid transparent;
    transition: 0.2s ease-in-out;

    @include mix.hover {
      &:hover {
        border-bottom: 0.5rem solid var.$primary-color;
      }
    }

    &--footer {
      color: var.$white;
      font-weight: 400;
      border-bottom: none;

      @include mix.hover {
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}
