<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaborMovil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header header__contenedor">
      <div class="header__logo">
        <h2 class="header__logo-texto">SaborMovil</h2>
      </div>

      <nav class="nav">
        <a href="#" class="nav__link">Iniciar sesión</a>
        <a href="#" class="nav__link">Crear cuenta</a>
        <a href="#" class="nav__link nav__link--register nav__btn"
          >Registrar restaurante</a
        >
      </nav>
    </header>
    <section class="hero hero__contenedor">
      <div class="hero__grid">
        <div class="hero__contenido">
          <form class="form" action="">
            <legend>
              <h2 class="form__titulo">
                Encuentra y pide comida de tu restaurante favorito
              </h2>
            </legend>
            <div class="form__camp">
              <label class="form__label" for="search-restaurant"
                >Restaurante</label
              >
              <input
                id="search-restaurant"
                class="form__input"
                type="search"
                placeholder="Buscar restaurante"
              />
            </div>
            <div class="form__camp">
              <label class="form__label" for="search-dishes">PLatillo</label>
              <input
                id="search-dish"
                class="form__input"
                type="search"
                placeholder="Buscar platillo"
              />
            </div>
            <input class="form__input form__btn" type="submit" value="Buscar" />
          </form>
        </div>
        <picture class="hero__picture">
          <img
            class="hero__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/dibujo_repartidor.svg"
            alt="Image-Repartidor"
          />
        </picture>
      </div>
    </section>
    <section class="steps">
      <img class="steps__wave" src="./assets/img/wave.svg" alt="Wave" />
      <div class="steps__contenido">
        <h2 class="steps__titulo">
          ¿Cómo funciona?
          <span class="steps__titulo--span">Tan fácil como 1, 2 y 3</span>
        </h2>
        <div class="steps__grid steps__contenedor">
          <picture class="step">
            <source srcset="./assets/img/paso_1.avif" type="image/avif" />
            <source srcset="./assets/img/paso_1.webp" type="image/webp" />
            <img
              class="step__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/paso_1.png"
              alt="Step-1-Image"
            />
          </picture>
          <picture class="step">
            <source srcset="./assets/img/paso_2.avif" type="image/avif" />
            <source srcset="./assets/img/paso_2.webp" type="image/webp" />
            <img
              class="step__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/paso_2.png"
              alt="Step-1-Image"
            />
          </picture>
          <picture class="step">
            <source srcset="./assets/img/paso_3.avif" type="image/avif" />
            <source srcset="./assets/img/paso_3.webp" type="image/webp" />
            <img
              class="step__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/paso_3.png"
              alt="Step-1-Image"
            />
          </picture>
        </div>
      </div>
    </section>
    <section class="testimonials testimonials__contenedor">
      <h2 class="testimonials__titulo">Testimoniales</h2>
      <div class="testimonials__grid">
        <div class="testimonial">
          <header class="testimonial__header">
            <picture class="testimonial__picture">
              <source
                srcset="./assets/img/testimonial1.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/testimonial1.webp"
                type="image/webp"
              />
              <img
                class="testimonial__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/testimonial1.jpg"
                alt="Persona-1"
              />
            </picture>
            <div class="testimonial__autor">
              <h3 class="testimonial__autor-name">Insertar Nombre</h3>
              <img
                class="testimonial__autor-nota"
                src="./assets/img/estrellas.png"
                alt="Imagen-estrellas"
              />
            </div>
          </header>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ratione, nam quidem sit sed sunt nemo tempora, pariatur quo iure
            autem recusandae ex animi consequatur. Dolore eius magni magnam
            cumque.
          </blockquote>
        </div>
        <div class="testimonial">
          <header class="testimonial__header">
            <picture class="testimonial__picture">
              <source
                srcset="./assets/img/testimonial5.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/testimonial5.webp"
                type="image/webp"
              />
              <img
                class="testimonial__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/testimonial5.jpg"
                alt="Persona-5"
              />
            </picture>
            <div class="testimonial__autor">
              <h3 class="testimonial__autor-name">Insertar Nombre</h3>
              <img
                class="testimonial__autor-nota"
                src="./assets/img/estrellas.png"
                alt="Imagen-estrellas"
              />
            </div>
          </header>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          </blockquote>
        </div>
        <div class="testimonial">
          <header class="testimonial__header">
            <picture class="testimonial__picture">
              <source
                srcset="./assets/img/testimonial4.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/testimonial4.webp"
                type="image/webp"
              />
              <img
                class="testimonial__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/testimonial4.jpg"
                alt="Persona-4"
              />
            </picture>
            <div class="testimonial__autor">
              <h3 class="testimonial__autor-name">Insertar Nombre</h3>
              <img
                class="testimonial__autor-nota"
                src="./assets/img/estrellas.png"
                alt="Imagen-estrellas"
              />
            </div>
          </header>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ratione, nam quidem sit sed sunt nemo tempora, pariatur quo iure
            autem recusandae ex animi consequatur. Dolore eius magni magnam
            cumque.
          </blockquote>
        </div>
        <div class="testimonial">
          <header class="testimonial__header">
            <picture class="testimonial__picture">
              <source
                srcset="./assets/img/testimonial2.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/testimonial2.webp"
                type="image/webp"
              />
              <img
                class="testimonial__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/testimonial2.jpg"
                alt="Persona-2"
              />
            </picture>
            <div class="testimonial__autor">
              <h3 class="testimonial__autor-name">Insertar Nombre</h3>
              <img
                class="testimonial__autor-nota"
                src="./assets/img/estrellas.png"
                alt="Imagen-estrellas"
              />
            </div>
          </header>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ratione, nam quidem sit sed sunt nemo tempora, pariatur quo iure
            autem recusandae ex animi consequatur. Dolore eius magni magnam
            cumque. lorem
          </blockquote>
        </div>
        <div class="testimonial">
          <header class="testimonial__header">
            <picture class="testimonial__picture">
              <source
                srcset="./assets/img/testimonial3.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/testimonial3.webp"
                type="image/webp"
              />
              <img
                class="testimonial__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/testimonial3.jpg"
                alt="Persona-3"
              />
            </picture>
            <div class="testimonial__autor">
              <h3 class="testimonial__autor-name">Insertar Nombre</h3>
              <img
                class="testimonial__autor-nota"
                src="./assets/img/estrellas.png"
                alt="Imagen-estrellas"
              />
            </div>
          </header>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ratione, nam quidem sit sed sunt nemo tempora, pariatur quo iure
            autem recusandae ex animi consequatur. Dolore eius magni magnam
            cumque.
          </blockquote>
        </div>
      </div>
    </section>
    <main class="main main__restaurants">
      <h2 class="main__titulo">Restaurantes favoritos</h2>
      <div class="main__contenedor swiper mySwiper">
        <div class="swiper-wrapper main__carousel"></div>
      </div>
    </main>
    <section class="about about__contenedor">
      <h2 class="about__titulo">Sobre nosotros</h2>
      <div class="about__grid">
        <picture class="about__picture">
          <source srcset="./assets/img/repartidor.avif" type="image/avif" />
          <source srcset="./assets/img/repartidor.webp" type="image/webp" />
          <img
            class="about__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/repartidor.jpg"
            alt="Imagen-Repartidor"
          />
        </picture>
        <div class="about__content">
          <p class="about__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            soluta inventore est id praesentium sequi assumenda maxime esse iste
            odit nam consequatur officiis quaerat perspiciatis repellendus,
            harum omnis porro reiciendis
          </p>
          <p class="about__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea,
            maxime asperiores quod impedit tempore optio nulla similique iste?
            Ipsam sed voluptas odio reprehenderit tempora vitae, velit quae
            ullam accusamus?
          </p>
          <a href="#" class="about__btn">Más información</a>
        </div>
      </div>
    </section>
    <section class="download-app">
      <div class="download-app__grid download-app__contenedor">
        <picture class="download-app__picture">
          <source srcset="./assets/img/app.avif" type="image/avif" />
          <source srcset="./assets/img/app.webp" type="image/webp" />
          <img
            class="download-app__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/app.png"
            alt="Imagen-App"
          />
        </picture>
        <div class="shops">
          <h3 class="shops__titulo">
            Descarga la app
            <span class="shops__titulo--span">Disponible en Android y iOS</span>
          </h3>
          <div class="shops__grid">
            <a href="#" class="shops__link">
              <img
                class="shops__link--img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/tienda-android.svg"
                alt="Imagen-Google-Play"
              />
            </a>
            <a href="#" class="shops__link">
              <img
                class="shops__link--img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/tienda-apple.svg"
                alt="Imagen-Apple-Store"
              />
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__grid footer__contenedor">
        <div class="footer__widget">
          <h3 class="footer__titulo">Nosotros</h3>
          <p class="footer__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            sapiente sunt dolores quaerat ea nemo aperiam reiciendis nesciunt
            neque dignissimos, corrupti placeat voluptates mollitia ducimus.
            Dolores esse consequatur quisquam ab?
          </p>
        </div>
        <div class="footer__widget">
          <h3 class="footer__titulo">Navegación</h3>
          <nav class="nav nav__footer">
            <a class=" nav__link nav__link--footer" href="#">Enlace 1</a>
            <a class=" nav__link nav__link--footer" href="#">Enlace 2</a>
            <a class=" nav__link nav__link--footer" href="#">Enlace 3</a>
            <a class=" nav__link nav__link--footer" href="#">Enlace 4</a>
            <a class=" nav__link nav__link--footer" href="#">Enlace 5</a>
            <a class=" nav__link nav__link--footer" href="#">Enlace 6</a>
          </nav>
        </div>
        <div class="footer__widget">
          <h3 class="footer__titulo">Contacto</h3>
          <p class="footer__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam aut
            accusamus sapiente voluptate aspernatur laboriosam. Aut, aliquid sed
            itaque nihil quod ex error cum harum delectus esse, voluptate beatae
            repellendus.
          </p>
        </div>
      </div>

      <p class="footer__copy">
        Todos los derechos reservados SaborMovil
        <span class="footer__copy--date"></span> &copy;
      </p>
    </footer>

    <!-- SwiperJS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/vendors/swiper.js"></script>

    <script src="./js/db.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
