<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaborMovil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header header__contenedor">
      <div class="header__logo">
        <h2 class="header__logo-texto">SaborMovil</h2>
      </div>

      <nav class="nav">
        <a href="#" class="nav__link">Iniciar sesión</a>
        <a href="#" class="nav__link">Crear cuenta</a>
        <a href="#" class="nav__link nav__link--register"
          >Registrar restaurante</a
        >
      </nav>
    </header>
    <section class="hero hero__contenedor">
      <div class="hero__grid">
        <div class="hero__contenido">
          <form class="form" action="">
            <legend>
              <h2 class="form__titulo">
                Encuentra y pide comida de tu restaurante favorito
              </h2>
            </legend>
            <div class="form__camp">
              <label class="form__label" for="search-restaurant"
                >Restaurante</label
              >
              <input
                id="search-restaurant"
                class="form__input"
                type="search"
                placeholder="Buscar restaurante"
              />
            </div>
            <div class="form__camp">
              <label class="form__label" for="search-dishes">PLatillo</label>
              <input
                id="search-dish"
                class="form__input"
                type="search"
                placeholder="Buscar platillo"
              />
            </div>
            <input class="form__btn" type="submit" value="Buscar" />
          </form>
        </div>
        <picture class="hero__picture">
          <img
            class="hero__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/dibujo_repartidor.svg"
            alt="Image-Repartidor"
          />
        </picture>
      </div>
    </section>
    <section class="steps">
      <img class="steps__wave" src="./assets/img/wave.svg" alt="Wave" />
      <div class="steps__contenido">
        <h2 class="steps__titulo">
          ¿Cómo funciona?
          <span class="steps__titulo--span">Tan fácil como 1, 2 y 3</span>
        </h2>
        <div class="steps__grid steps__contenedor">
          <picture class="step">
            <source srcset="./assets/img/paso_1.avif" type="image/avif" />
            <source srcset="./assets/img/paso_1.webp" type="image/webp" />
            <img
              class="step__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/paso_1.png"
              alt="Step-1-Image"
            />
          </picture>
          <picture class="step">
            <source srcset="./assets/img/paso_2.avif" type="image/avif" />
            <source srcset="./assets/img/paso_2.webp" type="image/webp" />
            <img
              class="step__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/paso_2.png"
              alt="Step-1-Image"
            />
          </picture>
          <picture class="step">
            <source srcset="./assets/img/paso_3.avif" type="image/avif" />
            <source srcset="./assets/img/paso_3.webp" type="image/webp" />
            <img
              class="step__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/paso_3.png"
              alt="Step-1-Image"
            />
          </picture>
        </div>
      </div>
    </section>
  </body>
</html>
