@use "config/variables" as var;
@use "config/mixins" as mix;

.hero {
  &__grid {
    @include mix.tablet {
      @include mix.grid(2, var.$separacion);
    }
  }

  &__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var.$separacion;
    background-color: var.$primary-color;
    border-radius: 1rem;
  }

  &__picture {
    display: flex;
    justify-content: center;
    margin-top: var.$separacion;
  }

  &__img {
    width: 30rem;

    @include mix.tablet {
      width: 90%;
    }
  }
}

