@use "config/variables" as var;
@use "config/mixins" as mix;

.main {
  background-color: var.$gray;
  padding: var.$separacion 0;

  &__title {
    color: var.$secondary-color;
  }

  &__contenedor {
    max-width: 95%;
  }
}
