@use "config/variables" as var;
@use "config/mixins" as mix;

.steps {
  margin-top: var.$separacion;

  &__wave {
    margin-bottom: -0.5rem;
  }

  &__contenido {
    background-color: var.$primary-color;
  }

  &__grid {
    @include mix.tablet {
      @include mix.grid(3, var.$separacion);
    }
  }
}

.step {
  &__img {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    @include mix.hover {
      &:hover {
        transform: rotate(-5deg) scale(1.1);
      }
    }
  }
}
