// Fuentes
$priamry-font: "Roboto", sans-serif;

// Colores
$primary-color: #e8505b;
$secondary-color: #455a64;
$black: #111;
$white: #fff;
$gray: #eceeef;

// Unidade4s
$separacion: 5rem;

// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;
